.modalHeader {
  display: flex;
  align-items: center;
  gap: 40%;
  margin-bottom: 1rem;
}

.mainContent {
  margin-bottom: 1rem;
  /* padding: 0 80px; */
}

.cancelButton {
  border: none;
  color: white;
  width: fit-content;
  transition: all 0.2s;
  background: none;
}

.cancelButton:hover {
  opacity: 0.7;
}
